body {
  margin: 20px;
  font-family: 'PingFang SC', Arial, sans-serif;
  font-size: 12px;
}

h1 {
  color: #333333;
  text-align: left;
}

#state-header {
  margin-bottom: 10px;
}

#connection_state {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid #ececec;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ececec;
  border-radius: 4px;
  table-layout: fixed;
  word-wrap: break-word;
}

th,
td {
  border: 1px solid #ececec;
  padding: 10px;
}

#logs-table td {
  font-size: 14px;
  color: #333333;
}

#logs-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#logs-content {
  height: 400px;
  overflow-y: scroll;
}